html {
    color:#000;
    background:#fff;
}

a {
    color:inherit;
}

table {
    text-align: left;
}

@media (prefers-color-scheme:dark){
    html {
        color:#fff;
        background:#000
    }
}
